<section class="h-24 bg-gradient-to-r from-blue-700 to-violet-600">
  <div class="h-full flex flex-col justify-center">
    <ul class="mx-auto">
      <a href="https://github.com/leskaa" target="_blank">
        <button class="w-9 h-9 bg-indigo-500 hover:bg-indigo-400 font-bold p-1.5 rounded-md">
          <img class="object-contain brightness-0 invert" src="icons/github.png" />
        </button>
      </a>
      <a href="https://www.linkedin.com/in/leskaa/" target="_blank">
        <button class="w-9 h-9 bg-indigo-500 hover:bg-indigo-400 font-bold p-1.5 rounded-md">
          <img class="object-contain brightness-0 invert" src="icons/linkedin.png" />
        </button>
      </a>
      <a href="mailto:alexander.j.leska@gmail.com" target="_blank">
        <button class="w-9 h-9 bg-indigo-500 hover:bg-indigo-400 font-bold p-1.5 rounded-md">
          <img class="object-contain brightness-0 invert" src="icons/gmail.png" />
        </button>
      </a>
    </ul>
    <div class="container mx-auto">
      <h1 class="text-sm font-bold text-center mt-1 text-white">&copy; 2022 Alex Leska</h1>
    </div>
  </div>
</section>